.loginPage{
    display: flex;
    width: 100vw;
    background-color: #f5f5f5;
}

/* LEFT SECTION: BACKGROUND AND TITLE */
.container__left{
    display: flex;
    background: url(/images/login.png);
    height: 100vh;
    width:40%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

h1{
    font-family: 'Poppins', sans-serif; 
}
.main__logo-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 43%;
    padding: 10px;
    width: auto;
    text-align: center;
    display: flex;
    align-self: center;
}

.main__logo-title a{
    text-decoration: none;
    color: black
}

.main__logo-title h1{
    color: white;
}

.main__logo-title h6{
    margin-top: -18%;
    font-size: 1.2rem;
    color: #63D0B4;
}



/* RIGHT SECTION: FORM */
.container__right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: -2.1rem;
    width: 60%;
    max-width: 400px;
    margin: 0px 16% 0 20%;
}

.container__right, .form__input, .form__button{
    font:300 0.8rem 'Poppins', sans-serif;
}

.form{
    width:100%;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}
.mainlogo_title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.form__title{
    margin-bottom: 0.8rem;
    text-align:center;
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
};

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error{
    color: var(--color-error);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width:100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: var(--border-radius);
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message{
    color: var(--color-error);
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.form__text{
    text-align: center;
}

.form__link{
    text-decoration: none;
    cursor:pointer;
}

.form__link:hover{
    text-decoration: underline;
}

.form__input-register{
    font-family: 'Poppins', sans-serif; 
    background-color: var(--color-input);
    border: none;
    height: 30px;
    width: 300px;
    margin-top: 5%;
}

.gender{
    display: flex;
    width:100%;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: var(--border-radius);
    outline: none;
    background: #eeeeee;
}

.form--hidden{
    display: none;
}

.page--hidden{
    display: none;
}

.registerSuccess h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--color-primary);
    text-align: center;
}
.form h4{
    font-weight: 100;
    color: grey;
    margin-top: -2px;
    margin-left: 2px;
    margin-right: 8px;
    margin-bottom: 0px;
}

/* screen media 1280px */
@media screen and (max-width: 1280px){
    .main__logo-title h1 {
        font-size: 55px;
    }
    .main__logo-title h6 {
        font-size: 1rem;
    }
    .form__input {
        padding: 0.4rem;
    }
    .container__right, .form__input, .form__button {
        font: 300 0.8rem 'Poppins', sans-serif;
    }
    .main__logo-title {
        margin: 46% 0 56% 0%;
    }
}